#header {
   height: 10vh;
   width: 100vw;
   background-color: lightblue;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#loginDiv {
   width: 50vw;
   height: 50%;
   background-color: green;
   display: flex;
   justify-content: space-between;
   align-items: center;
}